<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    <link rel="icon" href="{% static 'imagen/iconopes1-removebg-preview.ico' %}">
</head>
<body>
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <h3>Crear una cuenta</h3>
                <form action="">
                    <div class="input-box">
                        <input type="text" placeholder="Username" class="input-control">
                    
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="password" class="input-control">
                         
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="correo" class="input-control">
                         
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="apodo" class="input-control">
                         
                    </div>

                    <button type="submit" class="btn">Crear cuenta</button>
                </form>
                <p>Ya tienes una cuenta? <a href="login"class="gradient-text">Iniciar Sesion</a></p>
            </div>
        </div>
    </section>

    
</body>
</html>