<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    <link rel="icon" href="{% static 'imagen/iconopes1-removebg-preview.ico' %}">
</head>
<body>
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <h3>Bienvenido</h3>
                <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for campo in form %}
                <div class="input-box">
                    <label for="" class="form-label">{{ campo.label }}: </label>
                    <input
                    type="{{ campo.field.widget.input_type | default:'' }}"
                    class="input-control"
                    name="{{ campo.name | default:'' }}"
                    id=""
                    aria-describedby="delpId"
                    placeholder="{{ campo.label | default:'' }}"/>
                </div>
                <div class="col-12 help-text"> {{campo.errors}} </div>
                {% endfor %}
                <a href="edit" class="gradient-text">Has olvidado tu contraseña</a><br></br>
                <input name="" id="" class="btn btn-success" type="submit" href="{% url 'login' %}" value="Iniciar seccion"/><br></br>
                <p>No tienes una cuenta? <a href="inscribirse"class="gradient-text">Crear cuenta</a></p>
                
            </div>
        </div>
        
    </form>

</div>
</div>
</section>
</body>
</html>